In [6]:
import pandas as pan

valeurs = [21,19,20,15,28,12,20,25,10,19,21,20,14,24,11,18,22,19,17,21,13,23,22,16,23,18,27,18,9,30]
print(valeurs)

serie = pan.Series(valeurs)
print(serie)

[21, 19, 20, 15, 28, 12, 20, 25, 10, 19, 21, 20, 14, 24, 11, 18, 22, 19, 17, 21, 13, 23, 22, 16, 23, 18, 27, 18, 9, 30]
0     21
1     19
2     20
3     15
4     28
5     12
6     20
7     25
8     10
9     19
10    21
11    20
12    14
13    24
14    11
15    18
16    22
17    19
18    17
19    21
20    13
21    23
22    22
23    16
24    23
25    18
26    27
27    18
28     9
29    30
dtype: int64

In [5]:
import statistics
print("Moyenne :", statistics.mean(serie))
print("Médiane :", statistics.median(serie))
print("Mode :", statistics.mode(serie))
print("Écart-type :", statistics.stdev(serie))
print("Variance :", statistics.variance(serie))
print("Tous les modes :", statistics.multimode(serie))

Moyenne : 19.166666666666668
Médiane : 19.5
Mode : 21
Écart-type : 5.180090089306685
Variance : 26.833333333333332
Tous les modes : [21, 19, 20, 18]

In [9]:
# exercice 2

monDictionnaine =[{
    "nom": "elaoumari",
    "prenom": "abdelmoughith",
    "age" : 22    },
    {
    "nom": "lemkharbech",
    "prenom": "yahya",
    "age" : 22   
    },
    {
    "nom": "moudnib",
    "prenom": "anas",
    "age" : 22 
    }
]

print('les etudiants',monDictionnaine)

[{'nom': 'elaoumari', 'prenom': 'abdelmoughith', 'age': 22}, {'nom': 'lemkharbech', 'prenom': 'yahya', 'age': 22}, {'nom': 'moudnib', 'prenom': 'anas', 'age': 22}]

In [33]:
for personne in monDictionnaine:
    print(personne.values())

dict_values(['elaoumari', 'abdelmoughith', 22])
dict_values(['lemkharbech', 'yahya', 22])
dict_values(['moudnib', 'anas', 22])

In [34]:
for personne in monDictionnaine:
 print("les cles du disctionnaire",personne.keys())

les cles du disctionnaire dict_keys(['nom', 'prenom', 'age'])
les cles du disctionnaire dict_keys(['nom', 'prenom', 'age'])
les cles du disctionnaire dict_keys(['nom', 'prenom', 'age'])

In [35]:
print(monDictionnaine[1]['prenom'])

yahya

In [25]:
# exercice 3 
personnes = {
    "personne1": {"nom": "elaoumari", "age": 22, "ville": "Marrakech"},
    "personne2": {"nom": "lemkharbech", "age": 22, "ville": "Casablanca"},
    "personne3": {"nom": "moudnib", "age": 22, "ville": "Rabat"}
}
personnes.update({
    "personne4": {"nom": "hnioua", "age": 30, "ville": "Fès"}
})

In [26]:
personnes

{'personne1': {'nom': 'elaoumari', 'age': 22, 'ville': 'Marrakech'},
 'personne2': {'nom': 'lemkharbech', 'age': 22, 'ville': 'Casablanca'},
 'personne3': {'nom': 'moudnib', 'age': 22, 'ville': 'Rabat'},
 'personne4': {'nom': 'hnioua', 'age': 30, 'ville': 'Fès'}}

In [27]:
for key, info in personnes.items():
    print(f"{key}: Nom: {info['nom']}, Âge: {info['age']}, Ville: {info['ville']}")

personne1: Nom: elaoumari, Âge: 22, Ville: Marrakech
personne2: Nom: lemkharbech, Âge: 22, Ville: Casablanca
personne3: Nom: moudnib, Âge: 22, Ville: Rabat
personne4: Nom: hnioua, Âge: 30, Ville: Fès

In [28]:
villes = [info["ville"] for info in personnes.values()]
for ville in villes:
    print("Ville d'origine:", ville)

Ville d'origine: Marrakech
Ville d'origine: Casablanca
Ville d'origine: Rabat
Ville d'origine: Fès

In [29]:
villes.sort()
print("Villes triées:", villes)

Villes triées: ['Casablanca', 'Fès', 'Marrakech', 'Rabat']

In [30]:
for ville in set(villes):
    print(f"La ville {ville} apparaît {villes.count(ville)} fois.")

La ville Marrakech apparaît 1 fois.
La ville Casablanca apparaît 1 fois.
La ville Rabat apparaît 1 fois.
La ville Fès apparaît 1 fois.

In [31]:
for key, info in personnes.items():
    print(f"{info['nom']} a {info['age']} ans.")

elaoumari a 22 ans.
lemkharbech a 22 ans.
moudnib a 22 ans.
hnioua a 30 ans.

In [32]:
personnes.pop("personne1")
print("Dictionnaire après suppression de la première personne:", personnes)

Dictionnaire après suppression de la première personne: {'personne2': {'nom': 'lemkharbech', 'age': 22, 'ville': 'Casablanca'}, 'personne3': {'nom': 'moudnib', 'age': 22, 'ville': 'Rabat'}, 'personne4': {'nom': 'hnioua', 'age': 30, 'ville': 'Fès'}}

In [36]:
#exercice 5
# Importation de la bibliothèque Pandas
import pandas as pd

# --------------------------------------------------------------
# 1. Création d'un DataFrame à partir d'un dictionnaire
# --------------------------------------------------------------
# Définir un dictionnaire avec des données
dict_data = {
    'Nom': ['Alice', 'Bob', 'Charlie', 'David'],
    'Email': ['alice@example.com', 'bob@example.com', 'charlie@example.com', 'david@example.com'],
    'Section': ['A', 'B', 'C', 'A']
}

# Création du DataFrame à partir du dictionnaire
df = pd.DataFrame(dict_data)

# Affichage du DataFrame
print("DataFrame créé à partir d'un dictionnaire :")
print(df)
print("\n")

# --------------------------------------------------------------
# 2. Création d'un DataFrame à partir d'une liste
# --------------------------------------------------------------
# Définir une liste de langages
languages = ['Python', 'Java', 'PHP', 'C++', 'Javascript']

# Création du DataFrame à partir de la liste
df_languages = pd.DataFrame(languages, columns=['Langage'])

# Affichage du DataFrame
print("DataFrame créé à partir d'une liste :")
print(df_languages)
print("\n")

# --------------------------------------------------------------
# 3. Opérations sur les DataFrames
# --------------------------------------------------------------
# Exemple de DataFrame avec des labels d'index et de colonnes
labels = ['L1', 'L2', 'L3', 'L4']
data = [['Alice', 'alice@example.com', 'A'],
        ['Bob', 'bob@example.com', 'B'],
        ['Charlie', 'charlie@example.com', 'C'],
        ['David', 'david@example.com', 'A']]

# Création d'un DataFrame avec des index personnalisés et des colonnes spécifiées
df_students = pd.DataFrame(data, index=labels, columns=['Name', 'Email', 'Section'])

# Affichage du DataFrame
print("DataFrame avec des index et des colonnes personnalisées :")
print(df_students)
print("\n")

# Sélectionner certaines colonnes
print("Sélection des colonnes 'Name' et 'Section' :")
print(df_students[['Name', 'Section']])
print("\n")

# Ajouter une nouvelle colonne (par exemple, 'Age')
df_students['Age'] = [20, 22, 23, 21]

# Affichage après l'ajout de la colonne
print("Ajout de la colonne 'Age' :")
print(df_students)
print("\n")

# Supprimer une colonne (par exemple, 'Email') avec 'del'
del df_students['Email']
print("Suppression de la colonne 'Email' :")
print(df_students)
print("\n")

# Ou avec 'pop'
df_students.pop('Age')
print("Suppression de la colonne 'Age' avec 'pop' :")
print(df_students)
print("\n")

# --------------------------------------------------------------
# 4. Quelques méthodes utiles sur les DataFrames
# --------------------------------------------------------------
# Ajouter une nouvelle ligne avec la méthode append()
new_student = pd.DataFrame([['Eve', 'eve@example.com', 'B']], columns=['Name', 'Email', 'Section'])
df_students = df_students.append(new_student, ignore_index=True)
print("Ajout d'une nouvelle ligne à la fin du DataFrame :")
print(df_students)
print("\n")

# Appliquer une fonction à chaque valeur d'une colonne avec apply()
df_students['Section'] = df_students['Section'].apply(lambda x: x.upper())  # Mettre les sections en majuscules
print("Application de la fonction 'upper' sur la colonne 'Section' :")
print(df_students)
print("\n")

# Calculer la moyenne (si on avait des données numériques)
# Exemple avec un DataFrame ayant une colonne de scores (ajoutons une colonne 'Score')
df_students['Score'] = [95, 88, 91, 85, 92]
print("Calcul de la moyenne de la colonne 'Score' :")
print(df_students['Score'].mean())
print("\n")

# Décrire les données statistiques d'un DataFrame
print("Statistiques descriptives sur les données numériques :")
print(df_students.describe())
print("\n")

# Trier les valeurs en fonction d'une colonne spécifique ('Score')
print("Tri du DataFrame par la colonne 'Score' :")
print(df_students.sort_values(by='Score'))
print("\n")

# Filtrer les lignes selon une condition avec query()
print("Filtrer les étudiants ayant un score supérieur à 90 :")
print(df_students.query('Score > 90'))
print("\n")

# Exporter le DataFrame vers un fichier Excel
df_students.to_excel('students.xlsx', index=False)
print("Le DataFrame a été exporté vers un fichier Excel.")
print("\n")

# --------------------------------------------------------------
# 5. Autres méthodes pratiques sur les DataFrames
# --------------------------------------------------------------
# Fusionner deux DataFrames (on crée un DataFrame supplémentaire)
additional_data = pd.DataFrame({
    'Name': ['Frank', 'Grace'],
    'Email': ['frank@example.com', 'grace@example.com'],
    'Section': ['A', 'C']
})

# Fusionner les DataFrames en utilisant la méthode merge()
merged_df = pd.concat([df_students, additional_data], ignore_index=True)
print("Fusion des DataFrames avec concat() :")
print(merged_df)
print("\n")

# Transposer le DataFrame (inverser les lignes et les colonnes)
print("Transposition du DataFrame :")
print(df_students.transpose())
print("\n")

DataFrame créé à partir d'un dictionnaire :
       Nom                Email Section
0    Alice    alice@example.com       A
1      Bob      bob@example.com       B
2  Charlie  charlie@example.com       C
3    David    david@example.com       A


DataFrame créé à partir d'une liste :
      Langage
0      Python
1        Java
2         PHP
3         C++
4  Javascript


DataFrame avec des index et des colonnes personnalisées :
       Name                Email Section
L1    Alice    alice@example.com       A
L2      Bob      bob@example.com       B
L3  Charlie  charlie@example.com       C
L4    David    david@example.com       A


Sélection des colonnes 'Name' et 'Section' :
       Name Section
L1    Alice       A
L2      Bob       B
L3  Charlie       C
L4    David       A


Ajout de la colonne 'Age' :
       Name                Email Section  Age
L1    Alice    alice@example.com       A   20
L2      Bob      bob@example.com       B   22
L3  Charlie  charlie@example.com       C   23
L4    David    david@example.com       A   21


Suppression de la colonne 'Email' :
       Name Section  Age
L1    Alice       A   20
L2      Bob       B   22
L3  Charlie       C   23
L4    David       A   21


Suppression de la colonne 'Age' avec 'pop' :
       Name Section
L1    Alice       A
L2      Bob       B
L3  Charlie       C
L4    David       A

AttributeError: 'DataFrame' object has no attribute 'append'