In [2]:
import learn
import pandas as pd



index_list=['Company A','Company B','Company C','Company D','Company E','Company F']
company_dir = {'Closing price': pd.Series([346.15,0.59,459,0.52,589.8,158.88],
index=index_list),
'EPS': pd.Series([1133.43,36.05,145.02, 4.5, 31.44,380.64],
index=index_list),
'Beta': pd.Series([1,2,3,4,5,6],index=index_list),
'P/E': pd.Series([10,20,30,40,60,50], index=index_list),
'Market Cap(B)': pd.Series([1254.05, 43.2, 2300, 5.6, 773.8, 521.56], index=index_list)
}

In [7]:
company_df= pd.DataFrame(company_dir)
company_df

           Closing price      EPS  Beta  P/E  Market Cap(B)
Company A         346.15  1133.43     1   10        1254.05
Company B           0.59    36.05     2   20          43.20
Company C         459.00   145.02     3   30        2300.00
Company D           0.52     4.50     4   40           5.60
Company E         589.80    31.44     5   60         773.80
Company F         158.88   380.64     6   50         521.56

In [8]:
company_df.iloc[0:4]

           Closing price      EPS  Beta  P/E  Market Cap(B)
Company A         346.15  1133.43     1   10        1254.05
Company B           0.59    36.05     2   20          43.20
Company C         459.00   145.02     3   30        2300.00
Company D           0.52     4.50     4   40           5.60

In [9]:
company_df[-3:]

           Closing price     EPS  Beta  P/E  Market Cap(B)
Company D           0.52    4.50     4   40           5.60
Company E         589.80   31.44     5   60         773.80
Company F         158.88  380.64     6   50         521.56

In [13]:
company_df.loc[:]['EPS']

Company A    1133.43
Company B      36.05
Company C     145.02
Company D       4.50
Company E      31.44
Company F     380.64
Name: EPS, dtype: float64

In [14]:
company_df.loc['Company B': 'Company D'][['EPS', 'Beta']]

              EPS  Beta
Company B   36.05     2
Company C  145.02     3
Company D    4.50     4

In [18]:
company_df.iloc[0:2, 0:2]

           Closing price      EPS
Company A         346.15  1133.43
Company B           0.59    36.05

In [19]:
company_df.iloc[:, [1,3,4]]

               EPS  P/E  Market Cap(B)
Company A  1133.43   10        1254.05
Company B    36.05   20          43.20
Company C   145.02   30        2300.00
Company D     4.50   40           5.60
Company E    31.44   60         773.80
Company F   380.64   50         521.56

In [20]:
company_df.to_csv('ex1-tp.csv')